
body{
    color: #333;
    background: #F6F6F6;
    margin: 0 auto;
    line-height: 25px;
    
}
ul,li{
    list-style: none;
}
.main input[type=text]{
    height: 26px;
    margin: 4px 6px 4px 0;
}
.main input[type=checkbox],.main input[type=radio]{
    margin-top:-2px;
    margin-right: 4px;
    display: inline-block;
}
h1 {
    text-align: center;
}
.main{
    padding: 20px
}
.item{

}
.item .text{
    display: inline-block;
    width: 80px;
    text-align: right;
    font-weight: normal;
}
.item .ip{
    display: inline-block;
}
.item .tip{
    display: inline-block;
}
.wrap{
    border: 1px solid #eeeeee;
    margin: 40px 10px;
    position: relative;
    padding: 30px 10px;
}
.wrap label{
    display: inline-block;
    margin-right: 2px;
}
.til{
    font-size: 17.5px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 40px;
    color: inherit;
    font-weight: bold;
    border: 1px solid #eeeeee;
    width: 146px;
    display: inline-block;
    padding: 0 10px;
    position: absolute;
    top: -34px;
    left: 30px;
    z-index: 100;
    background: white;
}
.til2{
    font-size: 22px;
    margin: 10px 0;
    font-family: inherit;
    line-height: 40px;
    color: inherit;
    
}
.red{
    color: red;
}
.main textarea{
    width: 600px;
    height: 100px;
}
.footer{
    text-align: center;
    margin: 30px;
}
.footer a{
    text-decoration: none;
    color: #333333;
}
.input_small{
    height: 30px;
    width:40px;
}
.input_big{
    height: 30px;
    width: 500px;
}

.wd1{
    width: 40px;
}
.wd2{
    width: 90px;
}
.wd3{
    width: 120px;
}
.wd4{
    width: 160px;
}
.wd5{
    width: 300px;
}
.wd6{
    width: 400px;
}
.sitem input{
    width: 130px;
}
.bitem input{
    width: 300px;
}
.sex,.marriage{
    width: 55px;
    margin: 0 10px 0 0;
}
.base_tab li{
    min-height: 40px;
}

.opt_wrap{
    text-align: left;
    margin: 20px 30%;
}
.opt_wrap > .btn{
    margin-left: 30px;
}
.wrapper{
    min-height: 300px;
    width: 80%;
    margin: 0 auto;
}
table .btn{
    margin-right:20px;
}
.base_pro{
   padding: 8px 30px;
   border: 1px solid #ddd;
   background: #f7f5fa;
   font-size: 14px;
}
.main_stat{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}
.upload_lesson{

}
.upload_lesson>input{

}

.header{
    background-color:#F6F4F4;
    color:#ffffff;
}
.header a{
    color:#ffffff;
    text-decoration: none;  
}
.nav-top{
    height:122px;
}
.nav-logo{
    font-size:30px;    
}
.f18{
    font-size:18px;
}
.nav{
    height:80px;
    line-height:80px;
    background-color:#5FA4E0;    
    padding:0 7%;
}
.nav-list{
    font-size:13px;
    padding: 0 20px;
}

.nav-list span{
    display:inline-block;
}

.nav-item{
    padding: 0 10PX; 
}
.fr{
    float:right;    
}
.fl{
    float:left;    
}
.nav-sep{
    display:inline-block;
    margin:0 10px;        
}
.cur-item{ 
    background-color: #3D93C0;
}

.nav-bottom{
    height:80px;    
    line-height:80px;
    color:#7F7F8C;
    padding:0 10%;
    background-color:#ECECEC;
    font-size:22px;
}
.region{
    background-color:#ECECEC;
    font-size:14px;
    padding:30px;
    line-height:25px;
}
.region label{
    font-weight: normal;    
}
.base_tab ul{
    padding-left:0;    
}
.sub-logo{
    margin-left:10px;
}
.audit-til{
    text-align: center;
}
.audit-wrapper{
    margin-top: 20px;
}